/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start real code */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 2px 2px;
}

.wrapper {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 3.5em;
	margin-top: 25px;
}

h2 {
	font-size: 2em;
	margin-top: 55px;
}

h3 {
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 5px;
}

div {
}

a {
	text-decoration: none;
	color: #4183C4;
}
a:hover {
	text-decoration: underline;
}

.author {
	display: block;
	font-size: 0.8em;
	color: #333;
	margin-bottom: 15px;
	border-bottom: solid 1px #CCC;
	padding-bottom: 15px;
	padding-left: 3px;
}

.code {
	white-space: pre;
	font-family: monospace;
	background-color: #444;
	color: white;
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 2px solid #DDD;
}

a {
	-webkit-transition-property: opacity, -webkit-transform, color, background-color, padding, -webkit-box-shadow;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;	
}

#ribbon {
	position: fixed;
	right: 0px;
	top: 0px;
}
